<form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
  <div>
    <label for="nit">NIT:</label>
    <input
      id="nit"
      formControlName="nit"
      type="text"
      placeholder="Ingrese su NIT"
      autocomplete="off"
    />
    <div
      *ngIf="
        forgotPasswordForm.get('nit')?.invalid &&
        (forgotPasswordForm.get('nit')?.touched ||
          forgotPasswordForm.get('nit')?.dirty)
      "
    >
      <small *ngIf="forgotPasswordForm.get('nit')?.errors?.required"
        >NIT es requerido.</small
      >
      <small *ngIf="forgotPasswordForm.get('nit')?.errors?.nitInvalid"
        >NIT inválido.</small
      >
    </div>
  </div>
  <button type="submit" [disabled]="forgotPasswordForm.invalid">
    Reestablecer Contraseña
  </button>
</form>
