<form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
  <div>
    <label for="password">Nueva contraseña:</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      placeholder="Ingrese su nueva contraseña"
    />
    <div
      *ngIf="
        resetPasswordForm.get('password')?.invalid &&
        resetPasswordForm.get('password')?.touched
      "
    >
      <div
        *ngIf="
          resetPasswordForm.get('password')?.invalid &&
          resetPasswordForm.get('password')?.touched
        "
      >
        <div
          class="alert alert-danger p-1 mt-1"
          role="alert"
          *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
        >
          La nueva contraseña es requerida.
        </div>
        <div
          class="alert alert-danger p-1 mt-1"
          role="alert"
          *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
        >
          La nueva contraseña debe tener al menos 8 caracteres.
        </div>
        <div
          class="alert alert-danger p-1 mt-1"
          role="alert"
          *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']"
        >
          La nueva contraseña debe contener al menos una letra mayúscula, una letra
          minúscula, un número y un carácter especial.
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="resetPasswordForm.invalid">
    Cambiar Contraseña
  </button>
</form>
