<div class="auth-wrapper">
  <div class="auth-content" style="padding: 20px">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <form
      class="form-info"
      id="registrationForm"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onResetPassword()"
    >
      <div class="card mx-auto" style="padding: 40px; max-width: 800px">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-user-plus auth-icon"></i>
          </div>
          <div class="mb-4">
            <img
              src="../../../assets/images/logofsumma.png"
              width="100"
              height="100"
            />
          </div>
        </div>

        <br />

        <div class="mb-4">
          <label for="password">Nueva contraseña:</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <div
            *ngIf="
              resetPasswordForm.get('password')?.invalid &&
              resetPasswordForm.get('password')?.touched
            "
          >
            <div
              class="alert alert-danger p-1 mt-1"
              role="alert"
              *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
            >
              La contraseña es requerida.
            </div>
            <div
              class="alert alert-danger p-1 mt-1"
              role="alert"
              *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
            >
              La contraseña debe tener al menos 8 caracteres.
            </div>
            <div
              class="alert alert-danger p-1 mt-1"
              role="alert"
              *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']"
            >
              La nueva contraseña debe contener al menos una letra mayúscula,
              una letra minúscula, un número y un carácter especial.
            </div>
          </div>
        </div>

        <div
          class="text-center"
          style="padding-left: 20px; padding-right: 20px"
        >
          <button
            type="submit"
            [disabled]="resetPasswordForm.invalid"
            class="btn btn-primary mb-4"
          >
            Cambiar Contraseña
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
