<form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
  <div>
    <label for="password">Nueva contraseña:</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      placeholder="Ingrese su nueva contraseña"
    />
    <div
      *ngIf="
        resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched
      "
    >
      <small *ngIf="resetPasswordForm.get('password')?.errors?.required"
        >La nueva contraseña es requerida.</small
      >
    </div>
  </div>
  <button type="submit" [disabled]="resetPasswordForm.invalid">
    Cambiar Contraseña
  </button>
</form>
