body {
    background-color: #f8f9fa; /* Light gray background */
  }
  
  .container {
    margin-top: 100px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-weight: bold;
  }
  
  p {
    font-size: 1.2rem;
  }