<form [formGroup]="verificationForm" (ngSubmit)="onVerify()">
  <div>
    <label for="codigoVerificacion">Código de Verificación:</label>
    <input
      id="codigoVerificacion"
      formControlName="codigoVerificacion"
      type="text"
      placeholder="Ingrese su código de verificación"
      autocomplete="off"
    />
    <button type="submit">Verificar Usuario</button>
  </div>
  <p>{{ verificationMessage }}</p>
  <div *ngIf="verificationSuccessful">
    <a routerLink="/login">Ir a la página de inicio de sesión</a>
  </div>
</form>
